@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sora", serif;
  scroll-behavior: smooth;
}

#scanning,
#scantrail {
  animation-name: scan;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 500ms;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#scantrail {
  left: 50%;
}

@keyframes scan {
  0% {
    transform: translate(-50%, -8rem);
  }
  50% {
    transform: translate(-50%, 7rem);
  }
  100% {
    transform: translate(-50%, -8rem);
  }
}

@keyframes scantrail {
  0% {
    transform: translate(0, -7rem);
  }
  50% {
    transform: translate(0, 7rem);
  }
  100% {
    transform: translate(0, -7rem);
  }
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  width: 5px;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
  transition: ease 0.5s;
}